@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Raleway:wght@400;500;600;700;800;900&display=swap');

:root {
    --cor0: #1e1e1e;
    --cor1: #5c5c5c;
    --cor2: #0386FF;
    --cor3: #fafafa;
    --cor4: #f5f5f5;

    --font-titulo: 'Raleway', sans-serif;
    --font-texto: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

span {
    color: var(--cor2);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

header > h1 {
    font-family: var(--font-titulo);
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: -0.03em;
}

header > nav > a {
    font-family: var(--font-texto);
    text-decoration: none;
    color: var(--cor1);
    margin-left: 70px;
    font-size: 1.1em;
    letter-spacing: -0.01em;
}

header > nav > a:hover {
    color: var(--cor2);
    transition: all 300ms ease-in-out;
}

main {
    font-family: var(--font-texto);
    color: var(--cor1);
    font-weight: 400;
}

main > section.img-p {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-left: auto;
    margin-right: auto;

    padding-left: 12vw;
    padding-right: 12vw;

    padding-top: 35vh;
    padding-bottom: 35vh;
}

main > section.img-p > h2 {
    font-family: var(--font-titulo);
    color: var(--cor0);
    font-weight: 700;
    font-size: 4em;
}

main > section#sobre {
    background-color: var(--cor3);

    text-align: center;

    padding-left: 12vw;
    padding-right: 12vw;
    padding-top: 12vh;
    padding-bottom: 12vh;
}

main > section#sobre > article > h1 {
    font-family: var(--font-titulo);
    color: var(--cor0);
    font-weight: 700;
    font-size: 3.5em;
}

main > section#sobre > article > h2 {
    font-family: var(--font-titulo);
    color: var(--cor0);
    font-weight: 700;
    padding-top: 50px;
    font-size: 3em;
}

main > section#sobre > article > aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main > section#sobre > article > aside > div {
    padding: 3.5vw 6vw;
}

main > section#sobre > article > a {
    padding: 10px 20px;
    background-color: var(--cor2);
    border: none;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: 1em;
}

main > section#sobre > article > a:hover {
    color: white;
    text-decoration: underline;
    font-size: 1em;
    background-color: var(--cor0);
    transition: all 200ms ease-out;
}

main > section#sobre > article > button {
    border-radius: 25px;
}

main > section#projetos {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    padding-left: 12vw;
    padding-right: 12vw;

    padding-top: 35vh;
    padding-bottom: 35vh;
}

main > section#projetos > article > h1 {
    font-family: var(--font-titulo);
    color: var(--cor0);
    font-weight: 700;
    font-size: 4em;
}

main > section#projetos > article > p {
    font-size: 1.5em;
    margin-bottom: 12vh;
}

main > section#projetos > article > a {
    padding: 10px 20px;
    background-color: var(--cor2);
    border: none;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: 1em;
}

main > section#projetos > article > a:hover {
    color: white;
    text-decoration: underline;
    font-size: 1em;
    background-color: var(--cor0);
    transition: all 200ms ease-out;
}

main > section#contato {
    background-color: var(--cor3);

    height: 20vh;

    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    padding-top: 10vh;
    padding-bottom: 12vh;
}

main > section#contato > h2 {
    font-family: var(--font-titulo);
    color: var(--cor0);
    font-weight: 700;
    font-size: 3em;
}

main > section#contato > article {
    padding-top: 15px;
}

footer {
    background-color: var(--cor3);

    text-align: center;
    font-family: var(--font-texto);
    font-weight: 500;
    letter-spacing: -0.05em;
    font-size: 1em;
    padding-bottom: 10px;
}